<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script type="text/javascript" src="libs/angular.js"></script>

</head>
<body ng-app>

<div ng-init="personas = [{nombre:'pepito', id: 1}, {nombre:'jose', id: 1}, {nombre:'antonio', id: 2}]">
	
	
	<h1>Lista de nombres</h1>
	
	<p>Filtro: <input type="text" ng-model="inputNombre"/></p>
	
	<div>
		<ul>
			<li ng-repeat="persona in personas | filter: {nombre :inputNombre} | orderBy: ['-id','-nombre'] " ng-init="paso=$index;">
			Elemento con id {{paso}}: <span>{{persona}}</span>
		</ul>
	</div>
	
		
</div>

</body>
</html>