<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


</head>
<body ng-app="miApp" ng-controller="miControlador">

	
	<script>

		function miControlador($scope) {
			
        
		}
		
		var app = angular.module("miApp", []);
		app.controller("miControlador", miControlador);
		
	
	</script>

	<h2>Validaciones</h2>
	
	<div>
		<form novalidate name="miFormulario" >		
			<p>Nombre: <input type="text" name="inputNombre" ng-model="inputNombre" required></p>
			<p>Email: <input type="email" name="inputEmail" ng-model="inputEmail" required></p> 
			<p><input type="submit" ng-disabled="miFormulario.inputEmail.$invalid && miFormulario.inputEmail.$dirty"/>
			
			
		</form>

	</div>



</body>
</html>